.row1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: (4);
    gap: 5px;
}

.a{
    height: 100%;
    width: 100%;
}

.for{
    list-style: none;
}

.for:hover{
    color: red;
}

.col1{
    grid-column: 1/3 ;
    grid-row: 1 ;
}

.col2{
    grid-column: 3/5 ;
    grid-row: 1 ;
}

.col8{
    grid-column: 5/6 ;
    grid-row: 1/5 ;
}

.col3{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}

.col4{
    grid-column: 2/4 ;
    grid-row: 2/3 ;
}

.col5{
    grid-column: 4/5 ;
    grid-row: 2/3 ;
}

.col6{
    grid-column: 1/3 ;
    grid-row: 3/4 ;
}

.col7{
    grid-column: 3/5 ;
    grid-row: 3/4 ;
}

.men{
    background-color: black;
    color: white;
}

.dis{
    text-align: end;
    padding: 30px;

}


/*Create below example with the help of clip path START*/


.mainimg{
    background-image: url(Img/main\ img\ 1.png);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    background-size: cover;
    height: 100hv;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainhome ul {
    display: flex;
    list-style: none;
    width: 100%;
}

.mainhome ul li :hover {
    color: red;
}

.logo {
    padding: 30px;
    font-size: 30px;
}

.logo span {
    background-color: white;
    padding-bottom: 2px;
}

.mainhome {
    margin: 20px;
}

.mainhome a {
    margin: 20px;
    text-decoration: none;
    color: white;
}

.row {
    text-align: center;
    margin-top: 15px;

}

.our {
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.welcome {
    letter-spacing: 7px;
    font-size: 35px;
    margin-bottom: 15px;
}

.line1 {
    position: relative;
    top: 6px;
    left: 60px;
    width: 90px;
    height: 2px;
    margin: 0 auto;
    background-color: red;
}

.dot2 {
    margin: 0 auto;
    height: 10px;
    width: 10px;
    border: solid 1px;
    border-radius: 30px;
    border: none;
    background-color: red;

}

.line3 {
    position: relative;
    top: -6px;
    left: -60px;
    width: 90px;
    height: 2px;
    margin: 0 auto;
    background-color: red;
}

.lorem {
    font-size: 20px;
    padding-top: 30px;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.buton {
    display: flex;
    margin-left: 450px;

}

.but1 button {
    color: white;
    background-color: #e74c3c;
    padding: 10px;
    border: none;
    margin-right: 50px;
}


.but2 {
    color: white;
    border: solid 1px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.fo i {
    color: #e74c3c;
    font-size: 20px;
    padding: 6px;
    border: 1px solid white;
    background-color: aliceblue;
    border-radius: 50px;
    position: relative;
    top: 140px;
}



.bo1 {

    position: relative;
    bottom: 18px;
    right: 650px;
    border: solid 1px;
    display: inline;
    padding: 2px;
    background-color: rgb(71, 84, 85);
    color: white;
    border: none;
}

.bo2 {
    position: relative;
    bottom: 20px;
    left: 650px;
    border: solid 1px;
    display: inline;
    padding: 3px;
    background-color: #e74c3c;
    color: white;
    border: none;
}

.main2 {
    overflow: hidden;
}

.main3 {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
    
}

.img-one {
    padding-left: 90px;
}

.img1 {
    position: relative;
    bottom: 51px;
    left: 116px;
}

.img3 {
    margin-top: 20px;
    margin-left: 50px;
}

.img4 {
    width: 41px;
     background-color: #f4f5f9;
    border: 1px solid #6a6a6a;
    position: relative;
    top: 6px;
    left: 100px;
}

.color {
    margin-top: 10px;
    margin-left: -80px;
    color: #e74c3c;
    text-align: center;
}

.img5 {
    margin-top: 10px;
    color: #999999;
    text-align: center;
    width: 80%;
    padding-bottom: 50px;
}



/*Create below example with the help of clip path AND*/



/* Multiple background one side bg-color other side contain image as bg START */

.main-box1 {
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
}
.main-line {
    box-sizing: border-box;
    border: 1px solid midnightblue ;
    background-color:black;
    color: white;
    width: 50%;
    text-align:right;
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}
.img-no-repeat {
    box-sizing: border-box;
    border: 1px solid midnightblue;
    display: flex;
    width: 50%;
}
h1::after{
    content:"|";
}
.img-no-repeat {
    background-image: url(Img/computer.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Multiple background one side bg-color other side contain image as bg AND */


