*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: font;
  src: url(Font/Poppins-Regular.ttf);
}

*{
  font-family: font;
}

h2{
  padding: 0px 0px 10px 10px; 
}

a{
    text-decoration: none;
    color: black;
    display: block;
    padding:2px 1px 10px 16px ;
    margin: -4px 0px 4px 0px; 
}

a:hover{
  color: white;
  background-color: hsl(217, 86%, 25%);
}

.parent{
  display: flex;
  position: fixed;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.child{
  height: 100%;
  width: 225px;
  background-color: #E7E9EB;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
}

.iframemain{
  width: 100%;
  height: 100%;
}

.iframe{
  width: 100%;
  height: 100%;
}