*{
    margin: 0;
    padding: 0;

}

.row{
    display: flex;
    margin-top: 20px;
}

.row2{
    display: flex;
    margin-top: 20px;
}

.main{
    background-color: rgb(75, 65, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    margin-left:30px;
}

.paragraph{
    text-align:  center;
    width: 80%;
    margin: 0 auto;
}

.main-button button{
    position: relative;
    top: 10px;
    left: 50px;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    background-color: transparent;
}